
header > div {
    height: 250px;
    background-image: url('../img/lgsample-cogs.gif');
    background-position: right top;
    background-repeat: no-repeat;
}

header h1 {
    padding-left: 2em;
    margin-top: 2em;
    margin-left: 0.2em;
    line-height: 60px;
    font-weight: bold;
}

header > hr {
    margin-top: 0px;
}

div.well {
    padding: 8px 0px;
}